*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow: hidden;
}
.panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    right: 0;
    background-color: rgba(256, 256, 256, 0.05);
}
.option{
    display: flex;
    gap: 20px;
}
