*{
    margin: 0;
    padding: 0;
}
html,body{
    overflow: hidden;
}
.panel{
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    height: max-content;
    right: 0;
    background-color: rgba(256, 256, 256, 0.05);
    gap: 10px;
}
.option{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.but{
    padding: 2px;
}
